
body{
    background-color: #ffffff;
    height: auto;
}

.container-main{
    background-color: #f2eae6;
    padding: 1rem;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 5px 5px 10px #00000080;
}

.container-header{
    background-color: #4A5568;
    border-radius: 20px;
    border-color: 10px solid rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}

table,th,td{
    border: 3px solid #718096;
    padding: 1rem;
}

table{
    border-collapse: collapse;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #f2eae6;
}
table th{
    background-color: #4A5568;
}

table td{
    background-color: #fff;
    color: black;
}
header{
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.container-body p{
    font-size: 20px;
}

.container-footer{
    background-color: #4A5568 ;
    border-radius: 20px;
    text-align: center;
    padding: 1%;
}

footer a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

td a{
    text-decoration: none;
    color: #4299e1;
}

td a:hover{
    color:black
}

.container-header img{
    height: 60px;
    width: 80px;
    margin-right: 10px;
}

.container-body p{
    text-align: center;
}