body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-header{
    text-align: center;
    background-color: #454545;
    padding: 10px;
    border-radius: 15px;
}

.container-body img{
    width: 600px;
    background-color: #f2eae6;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
}

.container-body{
    text-align: center;
}

.container-footer a{
    background-color: #454545;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: black;
    border-radius: 15px;
    
}

.container-footer a:hover{
    color: white;
}
