body{
    background-color: #f2eae6;
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label,input{
    margin:5px;
}
button{
    margin: 5px;
    background-color: darkslategray;
    color: white;
}
button:hover{
    color: white;
    background-color: black;
}
input:focus,textarea:focus{
    background-color: rgb(203, 204, 205);
}
table{
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: black;
    margin: 2px;
}
td{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}