html{
    height: 100%;
}

body{
    background-image: url(../img/1107810.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    text-align: center;
}

.container-img img{
    height: 400px;
    margin: 0;
    min-height: 300px;
    max-width: 500px;
}

.container-header{
    font-size: 30px;
    margin-top: 20px;
}
.container-header h2{
    margin: 0;
}
.container-input {
    padding: 10px;
}
.container-input input{
    font-size: 20px;
    height: 100%;
}
.container-input input:focus{
    font-size: 20px;
}
.container-input button{
    font-size: 20px;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
ul{
    list-style: none;
}

.container-info {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info h3{
    margin-bottom: 5px;

}

.container-table , .container-tarjeta, .container-splash{
    min-width: 400px;
    max-width: 700px;
    height: 300px;
    margin: 5px;
    padding: 10px;
}

.container-splash img{
    width: 250px;
    height: 250px;
    
}
