html{
    height: 100%;
}

body{
    background-image: url(../img/1107810.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    text-align: center;
}

.container-img img{
    height: 40vh;
    margin: 0;
}

.container-header{
    font-size: 30px;
    margin-top: 20px;
}
.container-header h2{
    margin: 0;
}
.container-input {
    padding: 10px;
}
.container-input input{
    font-size: 20px;
    height: 100%;
}
.container-input input:focus{
    font-size: 20px;
}
.container-input button{
    font-size: 20px;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
ul{
    list-style: none;
}

.container-info {
    margin: 0;
}

.container-info h3{
    margin-bottom: 5px;
}


