.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin-bottom: 5px;
    background-color: #4A5568;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px #00000080; 
    margin-bottom: 15px;
}

.foto2{
    width: 400px;
    border-bottom: 2px solid black;
    background-color: #f2eae6;
    padding: 15px;
    margin: 5px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: #4A5568;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}

footer a:hover{
    color: white; 
}

.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;   
}