*{
    padding: 0;
    margin: 0;
    color: rgb(85, 87, 86);
}

html, body{
    background-color: rgb(0, 0, 0);
}

.container-main{
    border: 10px solid #423c3c;
    border-radius: 50px;
    margin: 2rem;
    background-color: rgb(38, 38, 39);
}

nav, section, footer, article{
    border: 5px solid rgb(0, 0, 0);
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    background-color: darkgray;
}

article{
    background-color: beige;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column

}

section{
    width: 45%;
}

article img{
    width: 15%;
}
nav img{
    width: 4%;
    height: 4%;
}

.container-body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article h3{
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

h2{
    font-size: 2rem;
}

img{
    float: left;
    margin-right: 10px;
}




